<header>
  <nav>
    <ul>
      <li class="left">
        <a [routerLink]="['/main']">Main</a>
      </li>
      <li class="left">
        <a [routerLink]="['/events']">Event</a>
      </li>
      <li class="left">
        <a [routerLink]="['/projects']">Projects</a>
      </li>
      <li class="left">
        <a [routerLink]="['/articles']">Article</a>
      </li>
      <li class="left">
        <a [routerLink]="['/speakers']">Speaker</a>
      </li>
      <li class="left noBorder">
        <a [routerLink]="['/contacts']">Contact</a>
      </li>
      <li class="right noBorder">
        <a href>MyProfile</a>
      </li>
      <li class="right">
        <a href>LogIn</a>
      </li>
      <li class="right">
        <a href>Ukr</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
</footer>

